table.ptimetable tr{
  font-family:Yekan,Tahoma;
}

table.ptimetable thead tr th{
	text-align:center;
}

.nextYearLink:before
{
	content: " >> ";	
}

.nextYearLink{
	text-decoration:none !important;
}

.prevYearLink:before
{
	content: " << ";
}

.prevYearLink{
	text-decoration:none !important;
}


.nextMonthLink:before
{
	content: " > ";
}

.nextMonthLink{
	text-decoration:none !important;
}

.prevMonthLink:before
{
	content: " < ";
}

.prevMonthLink{
	text-decoration:none !important;
}

table.ptimetable tbody tr td{

}

.dayRow{

}

.holiday{
  color:#ED1212;
}
